@import url('https://fonts.googleapis.com/css?family=Tomorrow:500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu_bar ul li, .menu_bar a, .menu_bar button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10%;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}

.logo_buah {
    cursor: pointer;
    color: #a94400;
}

.menu_bar {
    background-color: #fada22;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 25px;
}

.nav_links li a {
    transition: all 0.3s ease 0;
}

.nav_links li a:hover {
    color: #a94400;
}

header button {
    padding: 9px 25px;
    background-color: rgba(169, 39, 0, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button :hover{
    background-color: rgba(169, 39, 0, 0.8);
}

.crop {
    width: auto;
    height: 700px;
    overflow: hidden;
}

.home_title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #a94400;
    padding: 3rem 4rem;
}

.home_title h1 {
    font-size: 50px;
}

.isi {
    font-family: 'Comic Neue', cursive;
    color: #a94400;
    font-size: 28px;
    padding: 0rem 4rem;
}

.isi h4 {
    font-size: 35px;
    padding-bottom: 1%;
}

ol {
    padding-left: 3rem;
}

.buah_kiri {
    display: inline-block;
}

.buah_kiri img, .buah_kanan img {
    margin-right: 2rem;
    width: 500px;
    display: block;
    float: left;
}

.buah_kanan img {
    margin-right: 4rem;
    width: 280px;
    float: right;
}

.buah_tabel table{
    border: 1px;
    margin-left: auto;
    margin-right: auto;
}

thead {
    background-color: #fada22;
}

td, .buah_tabel h4 {
    text-align: center;
    padding: 1rem;
}

td {
    background-color: #fff4b6;
}

.isi.pemesanan button {
    display: block;
    margin: 0 auto;
    padding: 9px 9rem;
    background-color: rgba(169, 39, 0, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.isi.pemesanan :any-link {
    color: #edf0f1;
    text-decoration: none;
    font-size: 25px;
}

.wrapper {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    max-width: 500px;
    width: 100%;
    background: #fada22ed;
    margin: 100px auto;
    padding: 30px;
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #a94400;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .buah_form {
    width: 100%;
}

.wrapper .buah_form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
} 

.wrapper .buah_form .input_field label {
    width: 200px;
    color: #a94400;
    margin-right: 10px;
    font-size: 17px;
}

.wrapper .buah_form .input_field .input,
.wrapper .buah_form .input_field .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #edf0f1;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .buah_form .input_field .textarea {
    resize: none;
    height: 125px;
}

.wrapper .buah_form .input_field .select_field {
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .buah_form .input_field .select_field select {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #edf0f1;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;
}

.wrapper .buah_form .input_field .select_field:before {
    content: "";
    position: absolute;
    top: 14px;
    right: 10px;
    border: 8px solid;
    border-color: #a94400 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .buah_form .input_field .input:focus,
.wrapper .buah_form .input_field .textarea:focus,
.wrapper .buah_form .input_field select:focus {
    border:  1px solid #a94400;
}

.wrapper .buah_form .input_field .tombol {
    width: 100%;
    padding: 8px 10px;
    font-size: 17px;
    border: 0;
    background: #a94400;
    color: #edf0f1;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
}
.wrapper .buah_form .input_field:last-child {
    margin-bottom: 0;
}

.wrapper .buah_form .input_field .tombol:hover {
    background: #af4d0b;
}

@media screen and (max-width: 600px) {

    body {
        background-image: url("../images/background_buah.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: -1300px;
        background-position-y: -300px;
    }

    .menu_bar nav, .menu_bar a :not(.logo_buah) {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .crop {
        display: none;
    }
    
    .bungkus {
        background-color: #edf0f1be;
        width: 93%;
        margin: 0 auto;
    }

    .home_title {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #a94400;
        padding: 1rem;
    }

    .home_title h1 {
        font-size: 35px;
    }

    .isi {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .isi p, .isi li, .isi h4 {
        margin: 0;
        padding: 0 1rem;
        font-size: 20px;
    }

    .buah_kiri img {
        display: inline-block;
        width: 100%;
    }

    .buah_kanan img {
        display: block;
        float: none;
        width: 280px;
        margin: 0 auto;
    }

    .isi h4, .isi th, .isi td {
        font-size: 25px;
    }
}